<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>영화</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body class="bg-light">
    <div class="container">
        <div class="row">
            <h1 class="display-4 ml-2 p-2">영화</h1>
            <div class="ml-auto mr-2 mt-4"><a class="btn btn-primary" role="button" href="/movies/new/">영화 등록</a></div>
        </div>
        <hr>
        <div class="card-deck p-2">
            {% for movie in movies %}
            <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="card">
                    <img src="{{ movie.poster_url }}" class="card-img-top" alt="{{ movie.title }}">
                    <div class="card-body">
                    <h5 class="card-title"><a href="/movies/{{ movie.movie_id }}">{{ movie.title }}</a></h5>
                    <p class="card-text"><small class="text-muted">{{ movie.score }}점</small></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <footer class="my-3 pt-3 text-muted text-center text-small">
        <p class="pt-2 mb-3">&copy; 2019 YJK</p>
    </footer>
</body>
</html>