<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <title>{{ movie.title }} · Movies</title>
</head>
<body class="bg-light">
    <div class="container d-flex my-3 p-2">
        <div class="row col-md-10 offset-md-1 order-md-1">
            <div class="col-md-9 mb-3">
                <div class="p-1">
                    <h2 class="my-1">{{ movie.title }}</h2>
                    <h3 class="my-1 blockquote-footer">{{ movie.title_en }}</h3>
                </div>
                <hr>
                <div class="my-1"><strong>개봉</strong> {{ movie.open_date }}</div>
                <div class="my-1"><strong>평점</strong> {{ movie.score }}점</div>
                <div class="my-1"><strong>장르</strong> {{ movie.genre }}</div>
                <div class="my-1"><strong>등급</strong> {{ movie.watch_grade }}</div>
                <div class="my-1"><strong>흥행</strong> {{ movie.audience }}명</div>
                <hr>
                <div class="p-2"><p class="lead">{{ movie.description }}</p></div>
            </div>
            <div class="col-md-3 mb-3 text-center">
                <img src="{{ movie.poster_url }}" class="rounded" alt="{{ movie.title }}">
            </div>
            <div class="container d-flex my-3 p-2">
                <div class="p-2">
                    <a class="btn btn-primary" href="/movies" role="button">돌아가기</a>
                </div>
                <div class="p-2 ml-auto">
                    <form action="/movies/{{ movie.movie_id }}/edit" method="post">
                        <button type="submit" class="btn btn-secondary">수정</button>
                    </form>
                </div>
                <div class="p-2">
                    <form action="/movies/{{ movie.movie_id }}/delete" method="post">
                        <button type="submit" class="btn btn-secondary">삭제</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="my-3 pt-3 text-muted text-center text-small">
        <p class="pt-2 mb-3">&copy; 2019 YJK</p>
    </footer>
</body>
</html>