{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MySite {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" crossorigin="anonymous">
    {% block css %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
</head>
<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item navbar-text">
                    <a class="nav-link" href="/movies">Movies</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block heading %}
    {% endblock %}
    <div class="container flex-column">
        <div class="row">
            {% block body %}
            {% endblock %}
        </div>
    </div>
    <!-- <footer class="page-footer font-small teal p-2 bg-dark">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
            <div class="col-md-6 mt-md-0">
                <h6 class="text-center text-white">Copyright © YJK</h5>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-6 mb-md-0">
                <h6 class="text-center text-white"><a href='#'>돌아가기</a></h5>
            </div>
        </div>
    </footer> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/bootstrap.min.jss' %}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>