<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Movies</title>
    <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.2/examples/album/album.css" rel="stylesheet">
  </head>
  <body>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">박스 오피스</h1>
          <p class="lead text-muted">오늘 뭐보지?</p>
        </div>
      </section>
      <div class="album py-4 bg-light">
        <div class="container">
          <div class="row">
            {% for row in movie_info %}
            <!-- movie_naver.writerow(['movie_name', 'movie_code', 'thumb_url', 'link_url', 'user_rating']) -->
            <div class="col-md-2">
              <div class="card mb-4 shadow-sm">
                <img src="{{ row[2] }}" class="card-img-top" alt="thumbnail">
                <div class="card-body">
                    <p class="card-text">
                        {{ row[0] }}
                    </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a class="btn btn-primary" href="{{ row[3] }}" role="button">View</a>
                    </div>
                    <small class="text-muted"><p class="text-danger">{{ row[4] }}점</p></small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </main>
  </body>
</html>